<h1>password Generator</h1>
<div>
  <label>Length</label>
  <input />
</div>

<div>
  <label for="">User Latter</label>
  <input type="checkbox" name="" id="">
</div>
<div>
  <label for="">User number</label>
  <input type="checkbox" name="" id="">
</div>
<div>
  <label for="">User symbuls</label>
  <input type="checkbox" name="" id="">
</div>
<button (click)="myfunction()">Generate!</button>


<div>
  <label for="">your password is {{password}}</label>
  <input type="text" [value]="getPassword()">
</div>
